### Null Values in a Dataset
###### Compiled by Gabriella Cerrai

##### When working with datasets, more often than not, the data is 'dirty' and often there are missing field values. As a first line of action, a data analyst must decide what to do with null values before proceeding with the analysis. 
##### The dataset contains the following variables: 
##### **Lean Body Mass** (LBM), **Sex** (0: males, 1: females), **Ht** (height in cm), **Wt** (weight in kg), **WCC** (white cell count), **Hg** (hemoglobin) and **Hc** (hematocrit). We will focus on an *adjusted version* of the dataset - where height (**Ht**) and weight (**Wt**) values for both males and females have been removed from the dataset at random. The focus of this notebook will be on methods that can be used to address the null values in the adjusted dataset. 

##### In this notebook we will explore 3 different methods of tackling missing or null values in a dataset, namely: 
#####     1. Populating the null values using industry standards for average height and weight for both male and female athletes
#####     2. Removing the null values from the dataset
#####     3. Extrapolation of missing height and weight values using average Body Mass Index (BMI) values for both male and female athletes

##### For each method, we will calculate the average height and weight for male and females after populating (or removing) the null values to assess how these values compare to those of the full dataset.

In [1]:
# import packages
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

##### First, we will read in the full dataset and calculate average height and weight for males and females:

In [2]:
# read in the full data set (with no null values) 
data_full = pd.read_excel('athlete_data_full.xlsx')
data_full.head()

   Sex     Ht    Wt    LBM  WCC    Hc    Hg
0    1  195.9  78.9  63.32  7.5  37.5  12.3
1    1  189.7  74.4  58.55  8.3  38.2  12.7
2    1  177.8  69.1  55.36  5.0  36.4  11.6
3    1  185.0  74.9  57.18  5.3  37.3  12.6
4    1  184.6  64.6  53.20  6.8  41.5  14.0

In [3]:
data_full.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [4]:
# split the dataset
data_full_male = data_full[data_full['Sex'] == 0] 
data_full_female = data_full[data_full['Sex'] == 1]

In [5]:
# average height and weight for males:
avg_male_height = data_full_male['Ht'].mean().round(1)
avg_male_weight = data_full_male['Wt'].mean().round(1)
print('Average Height for Males:', avg_male_height, 'cm', 'and Average Weight for Males:', avg_male_weight, 'kg')

Average Height for Males: 185.5 cm and Average Weight for Males: 82.5 kg

In [6]:
# average height and weight for females:
avg_female_height = data_full_female['Ht'].mean().round(1)
avg_female_weight = data_full_female['Wt'].mean().round(1)
print('Average Height for Females:', avg_female_height, 'cm', 'and Average Weight for Females:', avg_female_weight, 'kg')

Average Height for Females: 174.6 cm and Average Weight for Females: 67.3 kg

##### Next, read in the data will null values:

In [7]:
# read in the adjusted data set with null values, split into 2 datasets (one for males, one for females)
data_nulls = pd.read_excel('athlete_data_nulls.xlsx')

In [8]:
data_nulls.isnull().sum()

Sex     0
Ht     16
Wt     16
LBM     0
WCC     0
Hc      0
Hg      0
dtype: int64

In [9]:
# split the dataset
data_nulls_male = data_nulls[data_nulls['Sex'] == 0]
data_nulls_female = data_nulls[data_nulls['Sex'] == 1]

#### Method 1: 
##### Populating nulls with the average height and weight values for male and female athletes. For the purpose of this exercise, the average values used are those of *Olympic Athletes in 2016*. Height values are in cm and weight values are in kg. 

##### The values used below can be found in the following article: https://www.topendsports.com/events/summer/science/anthropometry-2016.htm

In [10]:
avg_olympic_height_male = 182
avg_olympic_weight_male = 80.1
avg_olympic_height_female = 170
avg_olympic_weight_female = 62.6

In [11]:
# fill null values
data_nulls_male['Ht'] = data_nulls_male['Ht'].fillna(avg_olympic_height_male)
data_nulls_male['Wt'] = data_nulls_male['Wt'].fillna(avg_olympic_weight_male)
data_nulls_female['Ht'] = data_nulls_female['Ht'].fillna(avg_olympic_height_female)
data_nulls_female['Wt'] = data_nulls_female['Wt'].fillna(avg_olympic_weight_female)

In [12]:
data_nulls_male.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [13]:
data_nulls_female.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [14]:
# average height and weight for males: 
data_nulls_male[['Ht', 'Wt']].mean().round(1)

Ht    185.0
Wt     81.9
dtype: float64

In [15]:
# average height and weight for females:
data_nulls_female[['Ht', 'Wt']].mean().round(1)

Ht    174.3
Wt     67.1
dtype: float64

#### Method 2: 
##### Removing null values from the dataset

In [16]:
# read in data set with nulls and split dataset
data_nulls_2 = pd.read_excel('athlete_data_nulls.xlsx')
data_nulls_male_2 = data_nulls_2[data_nulls_2['Sex'] == 0]
data_nulls_female_2 = data_nulls_2[data_nulls_2['Sex'] == 1]

In [17]:
data_nulls_male_2.isnull().sum()

Sex    0
Ht     6
Wt     7
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [18]:
data_nulls_female_2.isnull().sum()

Sex     0
Ht     10
Wt      9
LBM     0
WCC     0
Hc      0
Hg      0
dtype: int64

In [19]:
# drop nulls:
data_nulls_male_dropped = data_nulls_male_2.dropna(axis = 0)
data_nulls_female_dropped = data_nulls_female_2.dropna(axis = 0)

In [20]:
data_nulls_male_dropped.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [21]:
data_nulls_female_dropped.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [22]:
avg_height_males_2   = data_nulls_male_dropped['Ht'].mean().round(1)
avg_weight_males_2   = data_nulls_male_dropped['Wt'].mean().round(1)
avg_height_females_2 = data_nulls_female_dropped['Ht'].mean().round(1)
avg_weight_females_2 = data_nulls_female_dropped['Wt'].mean().round(1)

#### Method 3:
##### In this final method, we will take an interesting approach by calculating missing height and weight values via a calculation using an average Body Mass Index (BMI) for both male and female athletes. 

##### The BMI values used below can be found in the following study: https://pmc.ncbi.nlm.nih.gov/articles/PMC6239137/

In [23]:
data_nulls_3 = pd.read_excel('athlete_data_nulls.xlsx')

In [24]:
data_nulls_3.isnull().sum()

Sex     0
Ht     16
Wt     16
LBM     0
WCC     0
Hc      0
Hg      0
dtype: int64

In [25]:
# assign BMI values for males and females
bmi_avg_males = 23.6
bmi_avg_females = 22.4

# define a function to calculate height:
def bmi_calc_height(weight, bmi):
    height = (np.sqrt(weight/bmi)) * 100 
    return height

# define a function to calculate weight:
def bmi_calc_weight(height, bmi):
    height /= 100 
    weight = bmi * (height)**2
    return weight


for row in data_nulls_3.itertuples():
    # loop through all rows in data set, assign an avg BMI value according to male/female
    if row.Sex == 0:
        bmi = bmi_avg_males
    elif row.Sex == 1: 
        bmi = bmi_avg_females
        
    if pd.isnull(row.Ht):
    # checks if height value in each row is null, then call function that calculates height
        weight = row.Wt
        height = bmi_calc_height(weight, bmi)
        data_nulls_3.at[row.Index, 'Ht'] = height # update height value in dataframe

    if pd.isnull(row.Wt):
    # checks if weight value in each row is null, then call function that calculates weight
        height = row.Ht
        weight = bmi_calc_weight(height, bmi)
        data_nulls_3.at[row.Index, 'Wt'] = weight  # update weight value in dataframe

# print(round(data_nulls_3, 1))

In [26]:
data_nulls_3.isnull().sum()

Sex    0
Ht     0
Wt     0
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [27]:
avg_height_males_3   = data_nulls_3['Ht'][data_nulls_3['Sex'] == 0].mean().round(1)
avg_weight_males_3   = data_nulls_3['Wt'][data_nulls_3['Sex'] == 0].mean().round(1)
avg_height_females_3 = data_nulls_3['Ht'][data_nulls_3['Sex'] == 1].mean().round(1)
avg_weight_females_3 = data_nulls_3['Wt'][data_nulls_3['Sex'] == 1].mean().round(1)

#### Results: 
##### Finally, we will compile all of the calculated averages for each method into dataframes for comparison with the original data set. As seen below, the average weight and height values for both male and female athletes for all 3 methods closely align with those values of the original dataset.

In [28]:
avgs  = pd.DataFrame(data = ['Average Male Height (cm)', 'Average Male Weight (kg)', 'Average Female Height (cm)', 'Average Female Weight (kg)'], columns = ['Features'])
avgs['Original Dataset'] = [avg_male_height, avg_male_weight, avg_female_height, avg_female_weight]
avgs['Method 1'] = [data_nulls_male['Ht'].mean().round(1), data_nulls_male['Wt'].mean().round(1), data_nulls_female['Ht'].mean().round(1), data_nulls_female['Wt'].mean().round(1)]
avgs['Method 2'] = [avg_height_males_2, avg_weight_males_2, avg_height_females_2, avg_weight_females_2]
avgs['Method 3'] = [avg_height_males_3, avg_weight_males_3, avg_height_females_3, avg_weight_females_3]
avgs

                     Features  Original Dataset  Method 1  Method 2  Method 3
0    Average Male Height (cm)             185.5     185.0     184.8     185.3
1    Average Male Weight (kg)              82.5      81.9      82.0      82.3
2  Average Female Height (cm)             174.6     174.3     174.8     174.3
3  Average Female Weight (kg)              67.3      67.1      67.9      67.6