#### Null Values in a Dataset
##### This is a 'method of working' notebook. The code below is a breakdown of how the weights and heights were first calculated for both males and females separately (before combining the functions and calculations into *one for loop* - as seen in the previous notebook under 'Method 3' - 'athlete_data_nulls.ipynb').

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_nulls = pd.read_excel('athlete_data_nulls.xlsx')
data_nulls.head()

   Sex     Ht    Wt    LBM  WCC    Hc    Hg
0    1  148.9  37.8  34.36  4.9  36.0  12.5
1    1    NaN  45.1  39.03  6.4  42.8  14.5
2    1  156.0  49.8  41.54  7.5  38.4  13.2
3    1  156.9  43.8  38.30  5.0  40.7  14.0
4    1  157.9  45.8  41.93  6.4  40.9  13.9

In [3]:
data_nulls.isnull().sum()

Sex     0
Ht     16
Wt     16
LBM     0
WCC     0
Hc      0
Hg      0
dtype: int64

In [4]:
# split dataset
data_nulls_male = data_nulls[data_nulls['Sex'] == 0]
data_nulls_female = data_nulls[data_nulls['Sex'] == 1]

In [5]:
data_nulls_male.isnull().sum()

Sex    0
Ht     6
Wt     7
LBM    0
WCC    0
Hc     0
Hg     0
dtype: int64

In [6]:
data_nulls_female.isnull().sum()

Sex     0
Ht     10
Wt      9
LBM     0
WCC     0
Hc      0
Hg      0
dtype: int64

In [7]:
# define a function to calculate height:
def bmi_calc_height(weight):
    height = (np.sqrt(weight/bmi))*100
    return height

In [8]:
# define a function that calculates weight:
def bmi_calc_weight(height):
    height /= 100
    weight = bmi * (height)**2
    return weight

In [9]:
# industry averages for BMI:
bmi_avg_males = 23.6
bmi_avg_females = 22.4

In [15]:
# populating null height values for males: 
for idx, i in data_nulls_male['Ht'].items():
    if pd.isnull(i):  
        bmi    = bmi_avg_males
        weight = data_nulls_male.loc[idx, 'Wt']
        height = bmi_calc_height(weight)
        data_nulls_male.at[idx, 'Ht'] = height
        print(height)

# print(round(data_nulls_male_3,1))

In [14]:
# populating null weight values for males: 
for idx, i in data_nulls_male['Wt'].items():
    if pd.isnull(i):  
        bmi   = bmi_avg_males
        height = data_nulls_male.loc[idx, 'Ht']
        weight = bmi_calc_weight(height)
        data_nulls_male.at[idx, 'Wt'] = weight
        print(weight)

# print(round(data_nulls_male_3,1))

73.51930999999999
80.8583436
83.5005996
86.99904000000001
87.72554240000002
88.91255159999999
94.7779776

In [16]:
# populating null height values for females: 
for idx, i in data_nulls_female['Ht'].items():
    if pd.isnull(i):  
        bmi    = bmi_avg_females
        weight = data_nulls_female.loc[idx, 'Wt']
        height = bmi_calc_height(weight)
        data_nulls_female.at[idx, 'Ht'] = height
        print(height)

# print(round(data_nulls_female_3,1))

141.8940751808495
163.79974707812323
163.66341767699427
156.83817866104633
175.3185875566454
182.98126367784997
175.6365972276686
167.5719461689729
187.20214437111252
182.2478688881868

In [18]:
# populating null weight values for females: 
for idx, i in data_nulls_female['Wt'].items():
    if pd.isnull(i):  
        bmi   = bmi_avg_females
        height = data_nulls_female.loc[idx, 'Ht']
        weight = bmi_calc_weight(height)
        data_nulls_female.at[idx, 'Wt'] = weight
        print(weight)

# print(round(data_nulls_female_3,1))

56.55823039999999
58.78656000000001
63.146518400000005
66.7313024
67.27367360000001
70.0184576
72.33428159999998
72.97976
85.96405440000001

In [23]:
data_nulls_male[['Ht', 'Wt']].mean().round(1)

Ht    185.3
Wt     82.3
dtype: float64

In [24]:
data_nulls_female[['Ht', 'Wt']].mean().round(1)

Ht    174.3
Wt     67.6
dtype: float64